<div class="card-container" >
  <a class="card" routerLink="/clock/clock-current-time" routerLinkActive="active">
    <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
    </svg> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="25px" height="25px">
      <linearGradient id="85hxlWiLZsrxIScZDGwmUa" x1="9.858" x2="38.142" y1="9.858" y2="38.142" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#889097" />
        <stop offset="1" stop-color="#64717c" />
      </linearGradient>
      <circle cx="24" cy="24" r="20" fill="url(#85hxlWiLZsrxIScZDGwmUa)" />
      <radialGradient id="85hxlWiLZsrxIScZDGwmUb" cx="24" cy="24" r="18.5" gradientUnits="userSpaceOnUse">
        <stop offset="0" />
        <stop offset="1" stop-opacity="0" />
      </radialGradient>
      <circle cx="24" cy="24" r="18.5" fill="url(#85hxlWiLZsrxIScZDGwmUb)" />
      <radialGradient id="85hxlWiLZsrxIScZDGwmUc" cx="23.89" cy="7.394" r="37.883" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#fafafb" />
        <stop offset="1" stop-color="#c8cdd1" />
      </radialGradient>
      <circle cx="24" cy="24" r="17" fill="url(#85hxlWiLZsrxIScZDGwmUc)" />
      <line x1="24" x2="24" y1="24" y2="36" fill="none" stroke="#d83b01" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5" />
      <line x1="24" x2="32.485" y1="24" y2="15.515" fill="none" stroke="#45494d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5" />
      <g>
        <line x1="24" x2="16.213" y1="24" y2="20.265" fill="none" stroke="#45494d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.5" />
      </g>
      <circle cx="24" cy="24" r="2" fill="#1e2021" />
    </svg>

    <span class="m-l-5">Reloj</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>

  <a class="card" routerLink="/clock/chronometer" routerLinkActive="active">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" />
    </svg>

    <span class="m-l-5">Cronómetro</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>

  <a class="card" routerLink="/clock/countdown" routerLinkActive="active">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" />
    </svg>

    <span class="m-l-5">Cuenta atrás</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>
</div>

<router-outlet></router-outlet>
